body{
    /*background:linear-gradient(white, #d3d8e8);*/
    background-color: #ebedf0;
}
.block{
    display: flex;
    margin: auto;
    width: 1100px;
    height: 500px;
    margin-top: 80px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: #1c1e21;
}

.ph{
    font-size: 50px;
    width: 520px ;
    height: 50px;
    display: block;
    margin-bottom: 30px;
    color: #0266FB;  
    
}

.p{
    font-size: 24px;
    display: block;
    width: 500px ;
    height: 50px;
    margin-bottom: 50px;
    
}

.text{
    width: 520px;
    height: 400px;
    display: inline-block;
    margin-right: 90px;
    margin-left: 60px;
    margin-top: 200px;
}
.cardp{
    display: inline-block;
    width : 400px;
    height: 355px;
    text-align: center;
    margin-top: 50px;

}
.card{
    border:2px solid #f0f2f5;
    width : 400px;
    height: 355px;
    border-radius: 6px;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow:  0 0 1em #ccd0d5;
    
}

.input{
    display: block;
    margin: auto;
    width: 360px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #ccd0d5;
}

button{
    display: block;
    margin: auto;
    width: 368px;
    height: 50px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #0266FB;
    border: none;
    color: #fff;
}

a:link, a:visited{
    text-decoration: none;
    color: #0266FB;
    border-bottom: 1px solid #ccd0d5;
    width: 324px;
    padding: 15px 20px;
    text-align: center;
    display: block;
    margin: auto;
}
a:hover, a:active{
  text-decoration: underline;
  
}

.creat{
    width: 200px;
    display:block;
    margin-top: 25px;
    background-color: #42b72a;

}
